.selected-server {
	background-color: rgba(0, 0, 0, .4);
	border-radius: .4em;
	padding: 1.4em 2em;
	margin: 1em 0;
	position: relative;
}

.selected-server .close-button {
	font-size: 1.6em;
	position: absolute;
	top: .2em;
	right: .2em;
	background-color: transparent;
	border: 0;
	padding: 0 .2em;
}
.selected-server .close-button:hover {
	color: #ccc;
}
.selected-server .close-button:active {
	color: rgb(var(--primary-color-light));
}