:root {
  --bs-primary: var(--bs-indigo);
  --bs-primary-rgb: 102, 16, 242;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  place-items: center;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo-img {
  width: 95%;
}

.brand-name {
  font-size: 1.8rem;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: var(--bs-primary);
  --bs-btn-border-color: var(--bs-primary-rgb);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: rgba(var(--bs-primary-rgb), 0.8);
  --bs-btn-hover-border-color: var(--bs-primary);
  --bs-btn-focus-shadow-rgb: var(--bs-primary-rgb);
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #2c4fc3;
  --bs-btn-active-border-color: #294ab7;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #3763f4;
  --bs-btn-disabled-border-color: #3763f4;
}

.btn-primary.disabled {
  background: rgba(var(--bs-primary-rgb), 0.5);
}

.show-message {
  max-width: 30ch;
  width: fit-content;
  font-size: 1.2rem;
  border-radius: 16px;
  background: rgba(var(--bs-primary-rgb), .8);
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  opacity: 0;
  transition: top .3s ease-in-out .1s, opacity .3s ease-in-out, z-index 0s 1s;
}

.show-message.showing {
  top: 100px;
  z-index: 2000;
  opacity: 1;
  transition: top .4s ease-in-out, opacity .3s ease-in-out .1s;
}

.show-message > p {
  margin: .8rem 1.6rem;
}

.server-status {
  background: rgba(var(--bs-primary-rgb), 0.5);
  border-radius: 1rem;
  color: var(--bs-gray-500);
  margin-top: 1.2rem;
  padding: .8rem 1.6rem;
}

.server-status::before {
  content: 'Unknown';
  margin-right: 0.8rem;
}

.server-status > svg {
  font-size: 1.6rem;
  display: none;
}

.server-status svg:nth-child(1) {
  display: block;
}

.server-status.online, .server-status.offline {
  background: var(--bs-primary);
  color: var(--bs-white);
}

.server-status.online svg:nth-child(1), .server-status.offline svg:nth-child(1) {
  display: none;
}

.server-status.online::before {
  content: 'Online';
}

.server-status.online svg:nth-child(2) {
  display: block;
}

.server-status.offline::before {
  content: 'Offline';
}

.server-status.offline svg:nth-child(3) {
  display: block;
}

.server-status-heading > h3 {
  margin-left: 1.2rem;
  margin-bottom: 0;
}