@import url(https://fonts.googleapis.com/css?family=Inter:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&display=swap);

:root {
  --primary-color: 102, 16, 242;
  --primary-color-light: 116, 77, 255;
  --primary-color-dark: 88, 0, 230;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  --background-color: 33, 29, 58;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-color: rgb(var(--background-color));
}

a {
  text-decoration: inherit;
}

button {
  border-radius: .4em;
  padding: 1em 1.2em;
  cursor: pointer;
  transition: color .3s, background-color .3s, border-color .3s, box-shadown .3s;
}
button.hidden {
  display: none;
}

.primary-button {
  color: #fff;
  background-color: rgb(var(--primary-color));
  border: 2px solid transparent;
}
.primary-button:hover {
  border-color: rgb(var(--primary-color-light));
}
.primary-button:active {
  background-color: rgb(var(--primary-color-dark));
  border-color: rgb(var(--primary-color));
}
.primary-button.disabled {
  background-color: rgba(var(--primary-color), 0.5);
}

::-webkit-scrollbar {
  height: .5em;
  width: .5em;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, .2);
  border-radius: .5em;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, .2);
  border-radius: .5em;
  transition: background-color .3s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, .3);
}

input {
  background-color: rgba(255, 255, 255, .3);
  border: 0;
  border-radius: .4em;
  padding: 1em 1.4em;
  min-width: 30ch;
}
input::placeholder {
  color: rgba(255, 255, 255, .5);
}

#root {
  width: 100%;
  min-height: 100vh;
  text-align: center;
}

#root>.page-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#root>.page-wrapper>div {
  width: 100%;
}

#root .page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
