.servers-list {
	list-style: none;
	width: fit-content;
	margin: 1em 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	max-width: 70vw;
	justify-content: center;
	gap: 1em;
}

.servers-list.aside {
	flex-direction: column;
	justify-content: unset;
}

.server-entry {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 2em;
	background-color: rgba(0, 0, 0, .4);
	border-radius: .4em;
	padding: 1.4em 2em;
	text-align: left;
	cursor: pointer;
	box-shadow: 0 0 0 #0000;
	transition: box-shadow .3s;
}
.server-entry:hover {
	box-shadow: 0 0 1em rgba(var(--primary-color-light), .5);
}

.server-entry .server-type {
	font-size: .8em;
	color: #aaa;
}

.servers-list:not(.aside) .server-entry > i {
	opacity: 0;
}

.servers-list.aside .server-entry .server-state-descr {
	display: none;
}
