.server-info {
	padding: 1em;
}

.server-info .connected-check {
	color: green;
	margin-left: .6em;
}

.server-info .start-stop-buttons {
	display: flex;
	gap: 1em;
	justify-content: center;
}

.server-info .connect {
	margin: 1em 0;
}

.server-info .connect > div {
	padding: .6em;
}

.server-info .start-stop-buttons button,
.server-info .connect button {
	font-size: 1em;
	border: 0;
	background-color: transparent;
	box-shadow: 0 0 .6em rgba(var(--primary-color-light), .4),
		inset 0 0 .4em rgba(var(--primary-color-light), .2);
	padding: .8em;
	transition: box-shadow .3s, font-size .3s;
}
.server-info .start-stop-buttons button:active,
.server-info .connect button:active {
	font-size: .95em;
	box-shadow: 0 0 .4em rgba(0, 0, 0, .8),
		inset 0 0 .6em rgba(var(--primary-color-light), .4);
}

.server-info .start-stop-buttons button {
	width: 9ch;
}
.server-info .connect button {
	width: 12ch;
}

.server-state {
	display: flex;
	align-items: center;
	gap: .5em;
}

.server-state .server-state-dot {
	width: .6em;
	height: .6em;
	background-color: red;
	border-radius: 50%;
}

.server-state.online .server-state-dot {
	background-color: green;
}

.server-state .online-players {
	margin-left: 1em;
	display: flex;
	gap: .6em;
	align-items: center;
}
