.server-logs {
	--border-radius: .5em;
	max-width: 100%;
	max-height: calc(100% - 6em);
	overflow: auto;
}

.server-logs > table {
	text-align: left;
	white-space: pre-wrap;
	display: block;
	-webkit-border-horizontal-spacing: 0;
}

.server-logs>table th:last-child, .server-logs>table td:last-child {
	border-left: 2px solid rgba(0, 0, 0, .4);
}

.server-logs>table th {
	background-color: rgba(var(--primary-color), 1);
}

.server-logs>table td {
	background-color: rgba(var(--primary-color-dark), 1);
}

.server-logs>table td:first-child {
	color: rgb(255, 255, 255, .6);
}

.server-logs>table td:not(:last-child) {
	text-align: center;
}

.server-logs > table > thead > tr:first-child > th:first-child {
	border-top-left-radius: var(--border-radius);
}

.server-logs>table>thead>tr:first-child>th:last-child {
	border-top-right-radius: var(--border-radius);
}

.server-logs>table>tbody>tr:last-child>td:first-child {
	border-bottom-left-radius: var(--border-radius);
}

.server-logs>table>tbody>tr:last-child>td:last-child {
	border-bottom-right-radius: var(--border-radius);
}

.server-logs>table th, .server-logs>table td {
	font-size: .95em;
	padding: .4em 1em;
}

.server-logs>table th:last-child {
	min-width: 20vw;
}

.log-message {
	display: flex;
	cursor: pointer;
}

.log-message > .message {
	white-space: pre-wrap;
	text-wrap: nowrap;
	margin-bottom: .4em;
	width: fit-content;
	min-width: 20vw;
	max-width: 50vw;
	overflow: auto;
}

.log-message.multiline > .message {
	max-height: 5ch;
	overflow-y: hidden;
}

.log-message.multiline.show > .message {
	max-height: unset;
}

.log-message.multiline > .expand {
	margin-top: 1em;
	margin-left: 2em;
}
.log-message:not(.multiline)>.expand {
	display: none;
}

.log-message.multiline>.expand>i {
	transition: transform .3s;
}
.log-message.multiline.show>.expand>i {
	transform: rotate(90deg);
}

.log-message .tags {
	display: none;
}

.log-message.show .tags {
	margin-top: 1em;
	display: flex;
	align-items: center;
	gap: 1em;
	flex-wrap: wrap;
}

.log-message .tags > p {
	border-radius: .4em;
	background-color: rgba(255, 255, 255, .4);
	margin-bottom: 0;
	padding: .2em .6em;
}
